.App {
  text-align: center;
  width: 100%;
}



.align-self-center{
  width:85px; height:85px;
}

.progress{
  height: 5px;
}

.progress-bar{
  width: 40%;
}

.bg-danger, .progress-bar{
  width: 80%;
}

.bg-warning, .progress-bar{
  width: 60%;
}

.bg-info, .progress-bar{
  width: 20%;
}


.bg-success, .progress-bar{
  width: 40%;
}
.trafficChart{
  height:200px;
}

.chart-wrapper {
  height:70px;
}

.card-body{

  height: 170px;
}
.header-right{
  background-color:#acd1f0;
  border-radius: 10px;
  text-align: left;
}

.active{
  text-align: left;
}

.footer-panel{
  display: grid;  
  grid-template-rows:  395px ; /* 3 строки */
  grid-template-columns: 100% 50%; /* 3 столбца */
}

.footer-panel1{
  display: grid;
  grid-column: 1/2; 
  grid-row: 1/2;
}

.footer-panel2{
  display: grid;
  grid-column: 2/3; 
  grid-row: 1/2;
}


.Button1{
border-radius: 3px;
font-size: 20px;
}




/* .left-panel{
  width: 10%;
} */

 /* .right-panel{
  width: 85%;
} */